h1 {
  padding-top: 20px;
}

li {
  list-style: none;
}
.big-sun {
  color: #ffc800;
  font-size: 70px;
  margin-bottom: 50%;
}
.body {
  background-color: rgb(192, 192, 192);
  background-image: url("../images/bgmal3.png");
  background-size: cover;
  background-blend-mode: darken;
  color: white;
  font-family: "Dosis", sans-serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Oxygen", sans-serif;
}
.heading {
  font-size: 60px;
}
.head {
  font-size: 35px;
}
.days {
  font-size: 25px;
}
.temp {
  font-size: 15px;
}
.small-sun {
  color: #ffc800;
}
.form-control {
  width: 50%;
}
.vartemp:hover {
  cursor: pointer;
}
