h1 {
  padding-top: 20px;
}

li {
  list-style: none;
}

.body {
  font-family: "Dosis", sans-serif;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-family: "Oxygen", sans-serif;
}
.border {
  background-color: rgb(107, 105, 105);
  background-image: url("images/bgmal3.png");
  color: white;
}
.heading {
  font-size: 55px;
}
.head {
  font-size: 35px;
}

.local-weather {
  margin-top: 30px;
  margin-bottom: 30px;
}
.weather-type {
  margin-bottom: 30%;
}

}
.days {
  font-size: 25px;
}
.temp {
  font-size: 15px;
}
.small-sun {
  color: #ffc800;
}
.form-control {
  width: 50%;
}
.vartemp:hover {
  cursor: pointer;
}
